
.DS_Store
.idea/**
.venv/**
tensorflow_script_mode_local_training_and_serving/data/eval_data.npy
tensorflow_script_mode_local_training_and_serving/data/eval_labels.npy
tensorflow_script_mode_local_training_and_serving/data/train_data.npy
tensorflow_script_mode_local_training_and_serving/data/train_labels.npy
pytorch_script_mode_local_training_and_serving/__pycache__/utils_cifar.cpython-38.pyc
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/batches.meta
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/data_batch_1
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/data_batch_2
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/data_batch_3
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/data_batch_4
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/data_batch_5
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/readme.html
pytorch_script_mode_local_training_and_serving/data/cifar-10-batches-py/test_batch
pytorch_script_mode_local_training_and_serving/data/cifar-10-python.tar.gz
tensorflow_script_mode_debug_local_training/data/eval_data.npy
tensorflow_script_mode_debug_local_training/data/eval_labels.npy
tensorflow_script_mode_debug_local_training/data/train_data.npy
tensorflow_script_mode_debug_local_training/data/train_labels.npy
tensorflow_script_mode_local_model_inference/libs/
tensorflow_script_mode_local_training_resnet50/data/training/train_data.npy
tensorflow_script_mode_local_training_resnet50/data/training/train_labels.npy
tensorflow_script_mode_local_training_resnet50/data/validation/validation_data.npy
tensorflow_script_mode_local_training_resnet50/data/validation/validation_labels.npy
tensorflow_script_mode_local_gpu_training_resnet50/data/training/train_data.npy
tensorflow_script_mode_local_gpu_training_resnet50/data/training/train_labels.npy
tensorflow_script_mode_local_gpu_training_resnet50/data/validation/validation_data.npy
tensorflow_script_mode_local_gpu_training_resnet50/data/validation/validation_labels.npy
scikit_learn__script_mode_local_training_and_serving/data/iris.csv
catboost_scikit_learn_script_mode_local_training/data/train/boston_train.csv
catboost_scikit_learn_script_mode_local_training/data/validation/boston_validation.csv
hdbscan_bring_your_own_container_local_training/data/train/blobs.csv
hdbscan_bring_your_own_container_local_training/model/model.tar.gz
tensorflow_script_mode_california_housing_local_training_and_serving/data/train/y_train.npy
tensorflow_script_mode_california_housing_local_training_and_serving/data/train/x_train.npy
tensorflow_script_mode_california_housing_local_training_and_serving/data/test/y_test.npy
tensorflow_script_mode_california_housing_local_training_and_serving/data/test/x_test.npy
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/input/x_test.csv
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/output/x_test.csv.out
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/test/x_test.csv
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/test/y_test.csv
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/train/x_train.csv
tensorflow_script_mode_california_housing_local_training_and_batch_transform/data/train/y_train.csv
tensorflow_bring_your_own_california_housing_local_training_and_serving/data/test/x_test.npy
tensorflow_bring_your_own_california_housing_local_training_and_serving/data/test/y_test.npy
tensorflow_bring_your_own_california_housing_local_training_and_serving/data/train/x_train.npy
tensorflow_bring_your_own_california_housing_local_training_and_serving/data/train/y_train.npy
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/input/x_test.csv
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/output/x_test.csv.out
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/test/x_test.csv
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/test/y_test.csv
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/train/x_train.csv
tensorflow_bring_your_own_california_housing_local_training_and_batch_transform/data/train/y_train.csv
huggingface_hebert_sentiment_analysis_local_serving/model/
/huggingface_hebert_sentiment_analysis_local_serving/env/
/huggingface_hebert_sentiment_analysis_local_serving/model.tar.gz
/catboost_scikit_learn_script_mode_local_training_and_serving/data/
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/batches.meta
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/data_batch_1
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/data_batch_2
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/data_batch_3
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/data_batch_4
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/data_batch_5
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/readme.html
pytorch_script_mode_local_model_inference/data/cifar-10-batches-py/test_batch
pytorch_script_mode_local_model_inference/data/cifar-10-python.tar.gz
scikit_learn_script_mode_local_serving_no_model_artifact/dummy.model
scikit_learn_script_mode_local_serving_no_model_artifact/dummy.txt
scikit_learn_script_mode_local_serving_no_model_artifact/model.tar.gz
scikit_learn_bring_your_own_model_local_serving/model.joblib
scikit_learn_bring_your_own_model_local_serving/model.tar.gz
catboost_bring_your_own_container_local_training_and_serving/catboost_bring_your_own_container_local_training_and_serving.py
catboost_bring_your_own_container_local_training_and_serving/data/test/boston_test.csv
catboost_bring_your_own_container_local_training_and_serving/data/test/california_test.csv
catboost_bring_your_own_container_local_training_and_serving/data/train/boston_train.csv
catboost_bring_your_own_container_local_training_and_serving/data/train/california_train.csv
catboost_bring_your_own_container_local_training_and_serving/data/validation/boston_validation.csv
catboost_bring_your_own_container_local_training_and_serving/data/validation/california_validation.csv
catboost_bring_your_own_container_local_training_and_serving/data/test/boston_test.csv
catboost_bring_your_own_container_local_training_and_serving/data/train/boston_train.csv
catboost_bring_your_own_container_local_training_and_serving/data/validation/boston_validation.csv
data/iris.csv
